<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <context-param>
  <description>Location to store uploaded file</description>
  <param-name>file-upload</param-name>
  <param-value>/dataupload/</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.PROJECT_STAGE</param-name>
  <param-value>Development</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.THEME</param-name>
  <param-value>blitzer</param-value>
 </context-param>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>PdfServlet</servlet-name>
  <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>JExcelApiServlet</servlet-name>
  <servlet-class>net.sf.jasperreports.j2ee.servlets.JExcelApiServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>RtfServlet</servlet-name>
  <servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ImageServlet</servlet-name>
  <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
 </servlet>
 <servlet>
  <display-name>UploadServlet</display-name>
  <servlet-name>UploadServlet</servlet-name>
  <servlet-class>com.Upload.UploadServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PdfServlet</servlet-name>
  <url-pattern>/servlets/report/PDF</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>JExcelApiServlet</servlet-name>
  <url-pattern>/servlets/report/EXCEL</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>RtfServlet</servlet-name>
  <url-pattern>/servlets/report/RTF</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ImageServlet</servlet-name>
  <url-pattern>/servlets/image</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadServlet</servlet-name>
  <url-pattern>/UploadServlet</url-pattern>
 </servlet-mapping>
 <session-config >
  <session-timeout>1</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.xhtml</welcome-file>
 </welcome-file-list>
 <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/index.xhtml</location>
</error-page>
</web-app>
